img {
    height: 300px;
}

body {
    height: 100vh;
    margin: 0;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: #DFD0B8;
    border: 10px solid #948979;
}

#card{
    border: 3px solid black;
}

.pContainer {
    margin: 20px;
}

#contactMeButton {
    background-color: #948979;
    border: 2px solid black;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 200px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.lowerArea {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

.lowRight {
    margin-left: 20px;
    
}

#line1 {
    height: 10px;
    width: 100%;
    background-color: #393E46;
}

#line2 {
    height: 50px;
    background-color: #948979;
    border-top: 5px solid #393E46;
}